<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Buy page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<div class="container my-2">
    <div class="card mb-3" style="max-width: 540px;" th:each="el : ${publication}">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img th:src="${'/images/' + el.photo}" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title ml-10" th:text="${el.title}">e</h5>
                    <p class="card-text" th:text="${el.theme}"></p>
                    <p class="card-text" th:text="'Price: ' + ${el.price}"></p>
                    <a href="#" class="btn btn-warning">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>