<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<header th:insert="blocks/header :: header"></header>
<div>
    <form th:action="@{/user}" method="get" th:object="${user}">
        <div class="card mb-3 my-2" style="max-width: 540px;" th:each="el : ${user}">
            <div class="row no-gutters">
                <div class="card-body">
                    <h5 class="card-title ml-10" th:text="${el.firstName}"></h5>
                    <p class="card-text" th:text="${el.lastName}"></p>
                    <p class="card-text" th:text="${el.login}"></p>
                    <p class="card-text" th:text="'Balance: ' + ${el.budget}"></p>
                </div>
            </div>
        </div>
    </form>
    <form th:action="@{/user}" method="post" th:object="${balance}">
        <div class="card mb-3 my-2" style="max-width: 540px;">
            <div class="card-body">
                <div class="form-group">
                    <label for="userBalance">Change balance</label>
                    <input type="text" class="form-control" name="balance" id="userBalance"
                           placeholder="Top up your balance">
                </div>
                <button type="submit" class="btn btn-info">Change</button>
            </div>
        </div>
    </form>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>