<div th:fragment="header" >
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
<!--        <img src="images/epam-university-840_hRpqktN.png"  width="60" height="50" class="card-img-top-50">-->
        <h5 class="my-0 mr-md-auto font-weight-normal" th:text="#{title}">Publication App</h5>
        <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" th:text="#{headerChangeLanguage}">
                Language
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute;
            transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" th:href="@{'?lang=en'}">EN</a>
                <a class="dropdown-item" th:href="@{'?lang=uk'}">UK</a>
            </div>
        </div>
        <div class="mr-3 font-weight-normal" sec:authentication="name"></div>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" th:text="#{headerButtonLogout}">Logout</a>
            </li>
        </ul>
        <nav class="my-2 my-md-0 mr-md-3 " >
            <a class="p-1 text-dark" th:href="@{/user}" th:text="#{headerLinkProfile}">Profile</a>
            <a class="p-1 text-dark" th:href="@{/}" th:text="#{headerLinkHome}">Main Page</a>
            <a class="p-1 text-dark" th:href="@{/periodicals}" th:text="#{headerLinkPeriodicals}">Periodicals</a>
        </nav>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="p-1 text-dark" th:href="@{/admin}" th:text="#{headerLinkAdmin}">Admin Page</a>
        </div>
    </div>
</div>